

.container1 {
    width: 100%;
    height: 100%;
}

.box {
    height: 100%;
}

.container {
    min-height: 100vh;
    background: url(../img/banners.png) no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    padding-bottom: 3.1vw;
}

.container form {
    background: #fff;
    border-radius: 0.2vw;
    box-shadow: 0 0.5vw 0.7vw rgba(0, 0, 0, .1);
    padding: 1vw;
    width: 40%;
    padding-top: 8.3vw;
}

.container form .inputBox {
    margin-top: 1vw;
}

.container form .inputBox span {
    display: block;
    color: #999;
    padding-bottom: 0.2vw;
}

.container form .inputBox input,
.container form .inputBox select {
    width: 99%;
    padding: 0.5vw;
    border-radius: 0.5vw;
    border: 0.05vw solid rgba(0, 0, 0, .3);
    color: #444;
}

.container form .flexbox {
    display: flex;
    gap: 0.7vw;
}

.container form .flexbox .inputBox {
    flex: 1 1 7.8vw;
}

.container form .submit-btn {
    width: 100%;
    background: linear-gradient(45deg, rgba(94, 136, 199, 1), rgba(15, 43, 95, 1));
    margin-top: 1vw;
    padding: 0.5vw;
    font-size: 1vw;
    color: #fff;
    border-radius: 0.5vw;
    cursor: pointer;
    transition: .2s linear;
    border: 0;
}

/* Здесь был Серёжа :) */
.container form .submit-btn:hover {
    letter-spacing: 0.1vw;
    opacity: .8;
}

.container .card-container {
    margin-bottom: -7.8vw;
    position: relative;
    height: 13vw;
    width: 20.8vw;
}

.container .card-container .front {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(45deg, #FFCC00, #D4AF37);
    border-radius: 0.2vw;
    backface-visibility: hidden;
    box-shadow: 0 0.7vw 1.3vw rgba(0, 0, 0, .2);
    padding: 4%;
    transform: perspective(52vw) rotateY(0deg);
    transition: transform .4s ease-out;
}

.container .card-container .front .image {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.5vw;
}

.container .card-container .front .image img {
    height: 2.6vw;
}

.container .card-container .front .card-number-box {
    padding: 1.5vw 0;
    font-size: 1.15vw;
    color: #fff;
}

.container .card-container .front .flexbox {
    display: flex;
}

.container .card-container .front .flexbox .box:nth-child(1) {
    margin-right: auto;
}

.container .card-container .front .flexbox .box {
    font-size: 0.7vw;
    color: #fff;
}

.container .card-container .back {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(45deg, #FFCC00, #D4AF37);
    border-radius: 0.2vw;
    padding: 1vw 0;
    text-align: right;
    backface-visibility: hidden;
    box-shadow: 0 0.7vw 1.3vw rgba(0, 0, 0, .2);
    transform: perspective(52vw) rotateY(180deg);
    transition: transform .4s ease-out;
}

.container .card-container .back .stripe {
    background: #000;
    width: 100%;
    margin: 0.5vw 0;
    height: 2.6vw;
}

.container .card-container .back .box {
    padding: 0 1vw;
}

.container .card-container .back .box span {
    color: #fff;
}

.container .card-container .back .box .cvv-box {
    height: 2.6vw;
    padding: 0.5vw;
    margin-top: 0.2vw;
    color: #333;
    background: #fff;
    border-radius: 0.2vw;
    width: 100%;
}

.container .card-container .back .box img {
    margin-top: 1.5vw;
    height: 2vw;
}

.card-number-input {
    border: 1px solid rgba(153, 153, 153, 1);
    border-radius: 10px;
    padding: 5px;
}

.card-holder-input {
    border: 0.05vw solid rgba(153, 153, 153, 1);
    border-radius: 0.5vw;
    padding: 0.2vw;
}

.month-input {
    border: 0.05vw solid rgba(153, 153, 153, 1);
    border-radius: 0.5vw;
    padding: 0.2vw;
    text-align: center;
}

.year-input {
    border: 0.05vw solid rgba(153, 153, 153, 1);
    border-radius: 0.5vw;
    padding: 0.2vw;
    text-align: center;
}

.cvv-input {
    border: 0.05vw solid rgba(153, 153, 153, 1);
    border-radius: 0.5vw;
    padding: 0.2vw;
}

.modal_main {
    display: grid;
    justify-content: center;
}

input {
    width: 10.4vw;
    height: 1.5vw;
    display: grid;
    justify-content: start;
    margin-top: 0.3vw;
}

label {
    text-align: center
}

.dat {
    margin-bottom: 0.2vw;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 1vw;
    border: 0.05vw solid #888;
    width: 20%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 1.4vw;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.form8 {
    font-size: 1.3vw;
    display: flex;
    justify-content: center;
    margin-top: 1vw;
    height: 3.07vw;
}

.form8 button {
    width: 34.1vw;
    border-radius: 0.5vw;
    margin-right: 0.5vw;
    margin-left: 0.5vw;
    border: 0;
    background: linear-gradient(45deg, #FFCC00, #D4AF37);
}

.dob {
    color: white;
}

.cards {
    font-size: 2vw;
    text-align: center;
}

.modal_main {
    display: grid;
    justify-content: center;
}

@media (max-width:1000px) {
    .container form {
        width: 60%;
    }

    .container .card-container {
        width: 40%;
        margin-bottom: -6.5vw;
    }

    .modal-content {
        width: 60%;
    }

    .modal-content .modal_main input{
        width: 100%;
        margin: 2% auto 5%;
        padding: 2%;
        text-align: center;
        height: auto;
    }
}

@media (max-width:650px) {
    .container form .flexbox {
        flex-direction: column;
    }
}

@media (max-width:500px) {
    .container form {
        width: 80%;
    }

    .form8 button {
        width: 40%;
        padding: 2%;
    }
    .form8 {
        height: auto;
    }

    .container .card-container {
        height: 15vw;
    }
}

@media (max-width:420px) {
    .container .card-container {
        height: 20vw;
    }

    .container .card-container {
        width: 60%;
        margin-bottom: -5vw;
    }
}



