/*Баннер*/
    .banner {
        background-image: url('../img/banners.png');
        background-size: cover;
        color: #fff;
        filter: brightness(80%);
        box-sizing: border-box;
        height: 100vh;
    }

    .banner-name{
        display: block;
        margin: 200px;
        
   
    }
    
  
  .banner h1 {
    font-weight: 700;
    font-size: 61px;
    line-height: 115%;
    color: #fff;
    margin-bottom: 23px;
  }
  
  .banner h4 {
    font-weight: 400;
    font-size: 23px;
    line-height: 132%;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 23px;
  }
  
  
  
  
  /*Баннер "Лучшие квартиры"*/
  .card {
  
    min-height: 350px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
  /* Размещаем элементы в колонку */
    border-radius: 4px;
    transition: 0.2s;
    position: relative;
    padding-top: 40px;
  }
  
  .card h2 {
    font-weight: 700;
    font-size: 45px;
    line-height: 117%;
    text-align: center;
    color: #000;
    padding-top: 23px;
  }
  
  .card h3 {
    font-weight: 400;
    font-size: 23px;
    line-height: 134%;
    text-align: center;
    color: rgba(0, 0, 0, 0.7);
    padding-top: 23px;
  }
  
  .card-main {
    margin-bottom: 20px;
    margin-right: 20px;
    align-items: center;
    display: inline-flex;
    justify-content: space-around;
    padding-top: 23px;
  }
  
  .apartment img {
    border-radius: 8px;
    width: 350px;
    height: 350px;
  }
  
  .apartment-title {
    font-weight: 500;
    font-size: 22px;
    line-height: 138%;
    color: #000;
  }
  
  .apartment-price {
    font-weight: 700;
    font-size: 17px;
    line-height: 140%;
    color: #7b1fa2;
    margin-top: 33px;
  }
  
  /*Перечекрнутый текст*/
  
  del {
    font-weight: 400;
    font-size: 16px;
    line-height: 133%;
    text-decoration: line-through;
    color: rgba(0, 0, 0, 0.7);
  }
  
  .book-button {
    background-color: #7b1fa2;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border: 1px solid #7b1fa2;
    border-radius: 6px;
  }
  
  
  
  /*О компании*/
  
  .back {
    background-image: url('../img/О\ компании.png');
    background-size: cover;
    color: white;
    padding: 50px;
    text-align: center;
  }
  
  .back h3 {
    font-weight: 400;
    font-size: 17px;
    line-height: 112%;
    text-align: center;
    color: #fff;
    margin-bottom: 16px;
  }
  
  .back h1 {
    font-weight: 700;
    font-size: 44px;
    line-height: 120%;
    text-align: center;
    color: #fff;
    margin-bottom: 16px;
  }
  
  .back p {
    font-weight: 400;
    font-size: 17px;
    line-height: 134%;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 16px;
  }
  
  .btn {
    display: inline-block;
    color: #7B1FA2;
    background-color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    margin-top: 20px;
  }
  
        /*Секция "Преимущества"*/
  
  
  h2 {
    font-weight: 700;
    font-size: 49px;
    text-align: center;
    color: #000;
    margin-top: 60px;
  }

  .advantages {
    margin: 0 auto;
    text-align: center;
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.advantage {
    margin: 20px 0;
    width: 30%;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
}

  
  .advantage p {
    margin-top: 20px;
  }
  


  /* Для разрешения 1000px и меньше */
  @media screen and (max-width: 1000px) {
    .apartment img {
        margin: 15px;
        width: 200px;
        height: 200px;
    }

    .apartment-info {
        margin: 30px;
    }

    .card-main {
        margin: 30px;
    }

    .apartment {
        display: block;
        text-align: center;
    }

    .banner-name {
        margin-top: 100px;
        margin-left: 90px;
    }


    .banner-name h4{
        font-size: 20px;
    }

    .card h2 {
        font-size: 32px;
        margin-top: 0px;
    }

    .card h3 {
        font-size: 20px;
    }

    .apartment-title {
        font-size: 16px;
    }



    .back h1 {
        font-size: 32px;
    }

    .back p {
        font-size: 20px;
    }

    h2 {
        font-size: 32px;
    }

    .advantages {
        margin: 40px;
    }

    .advantage img {
        width: 120px;
    }

    .footer1 {
        display: flex;
        width: auto;
    }
    .icons {
        margin-bottom: 15px;
        text-align: center;
    }

    .contacts {
        margin-bottom: 10px;
    }

    .contacts h2 {
        font-size: 20px;
    }

    .contacts p {
        font-size: 16px;
    }

    footer ul {
        display: block;
        text-align: center;
    }

    .footer-nav nav {
        width: auto;
    }

    .image-footer img {
        object-fit: cover;
        height: 250px;
        width: 450px;
    }

    h2 {
        font-size: 32px;
    }

    p {
        font-size: 18px;
    }
}


/* Для разрешения 650px и меньше */
@media screen and (max-width: 650px) {
    .apartment img {
        margin: 10px;
        width: 150px;
        height: 150px;
    }

    .apartment-info {
        margin: 20px;
    }

    .card-main {
        margin: 20px;
    }

    .apartment {
        display: block;
        text-align: center;
    }

    .banner-name {
        margin: 40px;
        padding-top: 70px;
        margin-left: 10px;
    }

    .banner-name h1{
        font-size: 57px;
    }

    .banner-name h4{
        font-size: 18px;
    }


    .card h2 {
        font-size: 28px;
        margin-top: 0px;
    }

    .card h3{
        font-size: 18px;
    }

    .apartment-title {
        font-size: 14px;
    }

    .apartment-price {
        font-size: 12px;
    }

    .book-button {
        font-size: 10px;
    }

    .back h1 {
        font-size: 28px;
    }

    .back p {
        font-size: 18px;
    }

    h2 {
        font-size: 28px;
    }

    .advantages {
        margin: 30px;
    }

    .advantage img {
        width: 100px;
    }

    .footer1 {
        display: flex;
        width: auto;
    }

    .icons {
        margin-bottom: 10px;
        text-align: center;
    }

    .contacts {
        margin-bottom: 5px;
    }

    .contacts h2 {
        font-size: 18px;
    }

    .contacts p {
        font-size: 10px;
    }

    footer ul {
        display: block;
        text-align: center;
    }

    .footer-nav nav {
        width: auto;
    }

    .image-footer img {
        object-fit: cover;
    }

    h2 {
        font-size: 28px;
    }

    p {
        font-size: 15px;
    }
}


/* Для разрешения 500px и меньше */
@media screen and (max-width: 500px) {

    .apartment img{
        margin: 20px;
    }


    .apartment-info{
        margin: 30px;
    }


    .card-main{
        display: block;
        margin: 30px;
    }

    .apartment{
        display: flex;
        justify-content: center;
    }

    .banner-name {
        margin: 60px;
    padding-top: 60px;
    margin-left: 20px;
    }

    .banner-name h1{
        font-size: 40px;
        margin: 20px;
    }

    .banner-name h4{
        font-size: 20px;
        margin: 20px;
    }


    .card h2 {
        font-size: 25px;
        margin-top: 0px;
    }

    .card h3 {
        font-size: 17px;
    }

    .del{
        font-size: 10px;
    }

    .apartment img {
        width: 200px;
        height: 200px;
    }

    .apartment-title {
        font-size: 19px;
    }

    .apartment-price {
        font-size: 16px;
    }

    .book-button {
        font-size: 12px;
    }

    .back h1 {
        font-size: 32px;
    }

    .back p {
        font-size: 17px;
    }

    h2 {
        font-size: 30px;
    }

    .advantages{
        display: block;
        margin: 40px;
    }

    .advantage{
        display: contents;
    }

    .advantage img{
        width: 130px;
    }



/* Адаптация до футера */
.footer1 {
    display: flex;
    align-items: center;
}

.icons{
    margin-bottom: 20px;
    text-align: center;
}



.contacts {
    margin-bottom: 10px;
}

.contacts h2{
    font-size: 25px;
}

.contacts p{
    font-size: 11px;
}

footer ul{
    display: flex;
    justify-content: space-between;
}


.image-footer img {
    text-align: center;
    width: 250px;
    height: 250px;
    object-fit: cover;
}

h2 {
    font-size: 32px;
}

.advantage p {
    font-size: 20px;

}
}
